.mg20{
    margin: 40px;
}

.mgr20{
    margin-right: 40px;
}

.mgl20{
    margin-left: 40px;
}

.mgb20{
    margin-bottom: 40px;
}

.mgt20{
    margin-top: 40px;
}

.pd20{
    padding: 20px;
}

.mgb10{
    margin-bottom: 10px;
}

.mgt10{
    margin-top: 20px;
}

/* NAVBAR */
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 17%;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -9%;
    }
}

.search-form {
    margin-left: 2%;
    max-width: 300px
}

/* CONTAINER AFTER NAVBAR */
.after-navbar {
    margin-top: 64px;
}

/* SLIDER */
#banner {
    min-height: 300px;
    border-bottom: none;
    margin-bottom: 1em;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
figure {
    margin: 0;
    font-family: 'Eurostile';
    font-weight: 100;
}
div#slide {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2%;
}
figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 50s slidy infinite;
}
figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}
figure.slider img {
    width: 100%;
    height: auto;
}

/* RANDOM PRODUCTS */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 22px;
}

.badgebox:focus + .badge
{
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
    text-indent: 0;
}

.buybutton {
    margin-top: 0.5%
}

/* FOOTER */
#footer {
    background: black;
}

#footer-text {
    margin-top: 1%;
    color: white;
}

/* IMAGE DRESSING */
div#image-other-page {
    margin-bottom: 2%;
}

/* SEARCH DRESSING */
#search-dressing {
    min-width: 250px;
    max-width: 300px
}

/* SHUFFLE */
.portfolio
{
    margin: 48px 0;
}

.portfolio-sorting
{
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 48px;
}

.portfolio-sorting li a
{
    color: black;
    text-decoration: none;
    padding: 6px;
    font-size: 15px;
}
.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
    color: #d4af37;
    border-bottom: 2px solid #d4af37;
}

.portfolio-item
{
    margin-bottom: 40px;
}

/* PLANNING */
#planningForm .form-control-feedback {
    top: 0;
    right: -15px;
}

#clothes-planning {
    min-height: 250px;
}

#cloth-found-planning {
    padding-left: 20%;
    padding-right: 20%
}

/* SIGN UP */
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/* ---------------------------------- REFONTE ------------------------------------ */

/* CONTENT */
.content {
    min-height: 467px;
}

/* SIGNIN-SIGNUP */
#login{
    padding-top : 3%;
    padding-bottom : 1%;
    padding-left : 20%;
    padding-right : 20%;
}

#register {
    padding-top : 3%;
    padding-bottom : 1%;
    padding-left : 20%;
    padding-right : 20%;
}

#why {
    padding-top : 3%;
    padding-bottom : 1%;
    padding-left : 20%;
    padding-right : 20%;
}

#nav-index {
    padding-left : 15%;
    padding-right: 15%;
}

.panel-default > .panel-heading {
    border-radius: 4px;
    background: black;
    color : #d4af37;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    border: medium none;
    box-shadow: 0 -2px 0 #b28d34 inset;
    color: #b28d34;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #d4af37;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #d4af37;
    background-color: black;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: black;
    background-color: #d4af37;
    border-color: black;
    border-bottom-color: transparent;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus:hover {
    background-color: transparent;
    -webkit-box-shadow: inset 0 -2px 0 #b28d34;
    box-shadow: inset 0 -2px 0 #b28d34;
    color: #b28d34;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
    border: none;
    -webkit-box-shadow: inset 0 -2px 0 #b28d34;
    box-shadow: inset 0 -2px 0 #b28d34;
    color: #b28d34;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus:hover {
    border: none;
    color: #b28d34;
}

/* PROFILE FASHION STYLE - RATING */
.rating {
    border: none;
    float: left;
    padding-left: 27%;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'FontAwesome';
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #d4af37;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* HOME PAGE */
.ootd {
    min-height: 350px;
    /*border: 1px solid #c6c6c6;*/
    box-shadow: inset 0 -1px 0 #c6c6c6;
    margin-right : 1%;
    padding-left : 4%;
    padding-right: 4%;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.vote-advice {
    min-height: 350px;
    border: 1px solid #e5e5e5;
}

.save-for-another-day {
    padding-left: 0;
    margin-top: -16%;
}

.img-clothing {
    width: 250px;
    height: 250px;
}

/* CATEGORY PAGE */
.heart {
    background: url(../img/web_heart_animation.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: inherit;
    left: -14px;
    margin-bottom: -5%;
    margin-left: -2%;
    margin-top: -5%;
    background-size: 2900%
}
.heart:hover, .heart:focus{
    background-position: right;
}

@-webkit-keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
}

/* WARDROBE MANAGEMENT PAGE - ACCORDION */

.panel-body { padding: 0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: black;
    color: #d4af37;
}

a {
    color: black;
    text-decoration: none;
}

/* MY DRESSING PAGE */
.label-info {
    background-color: black;
    color: #d4af37;
}

.my-dressing {
    min-height: 394px;
}

#nav-wardrobe {
    padding-left: 4.8%;
    padding-right: 4.8%
}

/* OUTFITS MANAGEMENT PAGE - CALENDAR */
.calendar .month-container {
    margin-bottom: 9%;
}

/* ADD CLOTHES PAGE */
#like-have {
    margin-left : 17%;
}

#like-have .notActive{
    color: #666666;
    background-color: #fff;
}