.mg20{
    margin: 40px;
}

.mgr20{
    margin-right: 40px;
}

.mgl20{
    margin-left: 40px;
}

.mgb20{
    margin-bottom: 40px;
}

.mgt20{
    margin-top: 40px;
}

.pd20{
    padding: 20px;
}

/* NAVBAR */
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 17%;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -9%;
    }
}

.search-form {
    margin-left: 2%;
    max-width: 300px
}

/* CONTAINER AFTER NAVBAR */
.after-navbar {
    margin-top: 64px;
}

/* SLIDER */
#banner {
    min-height: 300px;
    border-bottom: none;
    margin-bottom: 1em;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
figure {
    margin: 0;
    font-family: 'Eurostile';
    font-weight: 100;
}
div#slide {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2%;
}
figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 50s slidy infinite;
}
figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}
figure.slider img {
    width: 100%;
    height: auto;
}

/* RANDOM PRODUCTS */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 22px;
}

.badgebox:focus + .badge
{
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
    text-indent: 0;
}

.buybutton {
    margin-top: 0.5%
}

/* FOOTER */
#footer {
    background: black;
}

#footer-text {
    margin-top: 1%;
    color: white;
}

/* IMAGE DRESSING */
div#image-other-page {
    margin-bottom: 2%;
}

/* SEARCH DRESSING */
#search-dressing {
    min-width: 250px;
    max-width: 300px
}

/* SHUFFLE */
.portfolio
{
    margin: 48px 0;
}

.portfolio-sorting
{
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 48px;
}

.portfolio-sorting li a
{
    color: black;
    text-decoration: none;
    padding: 6px;
}
.portfolio-sorting li a:hover,
.portfolio-sorting li a.active
{
    color: #d4af37;
    border-bottom: 2px solid #d4af37;
}

.portfolio-item
{
    margin-bottom: 40px;
}

/* PLANNING */
#planningForm .form-control-feedback {
    top: 0;
    right: -15px;
}

#clothes-planning {
    min-height: 250px;
}

#cloth-found-planning {
    padding-left: 20%;
    padding-right: 20%
}

/* SIGN UP */
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/* ---------------------------------- REFONTE ------------------------------------ */

/* CONTENT */
.content {
    min-height: 467px;
}

/* PROFILE FASHION STYLE - RATING */
.rating {
    border: none;
    float: left;
    padding-left: 27%;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'FontAwesome';
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #d4af37;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* HOME PAGE */
.ootd {
    min-height: 350px;
    border: 1px solid black;
}

.vote-advice {
    min-height: 350px;
    border: 1px solid black;
}

/* WARDROBE MANAGEMENT PAGE - ACCORDION */

.panel-body { padding: 0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }